<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string><![CDATA[software-package]]></string>
      <key>url</key>
      <string><![CDATA[{ipa}]]></string>
     </dict>
     <dict>
      <key>kind</key>
      <string><![CDATA[display-image]]></string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string><![CDATA[{icon}]]></string>
     </dict>
     <dict>
      <key>kind</key>
      <string><![CDATA[full-size-image]]></string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string><![CDATA[{icon}]]></string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string><![CDATA[{bid}]]></string>
     <key>bundle-version</key>
     <string><![CDATA[{bvs}]]></string>
     <key>kind</key>
     <string><![CDATA[software]]></string>
     <key>subtitle</key>
     <string><![CDATA[{bid}]]></string>
     <key>title</key>
     <string><![CDATA[{name}]]></string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
